/* ESTILOS MAIN */
.container {
    text-decoration: none;
    margin-bottom: 100px;
}

.container h2 , p {
    margin: 0;
    padding: 0;
}

.img-container {
    border-radius: 10px;
    max-width: 600px;
}

.titulo-manchete {
    font-size: 30px;
    text-transform: uppercase;
}

.manchete {
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .img-container {
        max-width: 120%;       
    }

}
