/* ESTILOS MAIN */
.container {
    text-decoration: none;
    transition: transform 0.4s ease;
}

.container:hover {
    transform: scale(1.1);
}

.container h2 , .container p {
    margin: 0;
    padding: 0;
}

.img-container {
    border-radius: 10px;
    max-width: 100%;
}

.titulo-manchete {
    font-size: 30px;
    text-transform: uppercase;
}

.manchete {
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .img-container {
        max-width: 120%;       
    }

}