body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 100vw;
  margin-bottom: 25vh;
}

#log-in {
  background-color: white;
  width: 400px;
  padding: 40px;
  border-radius: 25px;
}

#log-in h2 {
  text-align: center;
}

.texto {
  position: relative;
}

.texto input {
  width: 100%;
  padding: 10px 0;
  outline: none;
  border: 0;
  background: transparent;
  border-bottom: 1px solid #0b0f14;
  color: #0b0f14;
  font-size: 16px;
  margin-bottom: 30px;
}

.texto label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.5s;
}

.texto input:focus~label, .texto input:valid~label {
  top: -20px;
}

#cadastro {
  position: absolute;
  margin: 0;
  right: 0;
  width: 50%;
  color: #0b0f14;
}

#btn {
  color: white;
  cursor: pointer;
  background-color: #0b0f14;
  letter-spacing: 4px;
  padding: 4px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
}