h1, h2 {
  font-family: "Science Gothic";
  text-transform: uppercase;
}

p {
  font-size: 25px;
}

#paragrafo1 {
  display: grid;
  flex-direction: column;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 40px;
}



#paragrafo1 img {
  grid-column: 2;
}

#paragrafo1 p {
  grid-column: 1;
}

#paragrafo1 img {
  height: 150px;
}