h1,
h2 {
  font-family: "Science Gothic";
  text-transform: uppercase;
}

p {
  font-size: 25px;
}

.paragrafo {
  margin-bottom: 40px;
}

/* PARAGRAFO 1 */
#paragrafo1 {
  display: grid;
  flex-direction: column;
  grid-template-columns: 2fr 1fr;
}

#paragrafo1 img {
  grid-column: 2;
}

#paragrafo1 p {
  grid-column: 1;
}

#paragrafo1 img {
  height: 150px;
}

/* PARAGRAFO 2 */
#paragrafo2 {
  width: 100%;
}

#imgparag2,
#LuizG {
  width: 100%;
}

/* PARAGRAFO 3 */
#paragrafo3 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}

.imagensp3 {
  width: 200px;
}

/* PARAGRAFO4 */
#paragrafo4 {
  width: 100%;
}

#imgparag4,
#imagemparag4 {
  width: 100%;
}

/* MOBILE */
@media (max-width:768px) {
  #paragrafo1, #paragrafo2, #paragrafo3 {
    display: flex;
    flex-wrap: wrap;
  }

  #paragrafo3 p {
    order: -1;
  } 
}