/* ESTILOS GERAIS */

body {
    margin: 0;
    background-color: #dbdbdb ;
    box-sizing: border-box;
    font-family: arial;
}

main {
    margin-top: 100px;
    text-align: center;
}

/* ESTILOS NAVBAR */

#cabecalho {
    display: flex;
    background-color: #0b0f14;
    align-items: center;
    justify-content: space-between;
}

#logotipo {
    height: 7rem;
}

#navbar-links {
    color: #0b0f14;
    align-items: center;
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.navbar-links-itens {
    background-color: white;
    color: #0b0f14;
    border-radius: 20px;
    text-decoration: none;
    padding: 8px;
    text-align: center;
}

/* SOBRE NÓS */
#sobrenos {
    display: inline-block;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

#sobrenos:hover {
    transform: scale(1.1);
    background-color: #dbdbdb;
}

/* CONTATOS */
#cont {
    display: inline-block;
    transition: transform 0.5s ease, background-color 0.5s ease;
    cursor: pointer;
}

#cont:hover {
    transform: scale(1.1);
    background-color: #dbdbdb;
}

#cont-item {
    position: relative;
}

#navcont {
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 90px;
    right: 245px;
    background-color: #0b0f14;
    border-radius: 10px;
    width: 150px;    
    padding: 10px 15px;
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#navcont.ativo {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

#navcont-links {
    list-style: none;
    padding: 0;
}

.navcont-links-itens {
    display: flex;
    color: white;
    align-items: center;
    border: 3px solid white;
    text-decoration: none;
    margin-top: 10px;
    padding: 5px 15px;
}

.navcont-links-itens p {
    margin: 0;
}


/* INÍCIO */
#inicio {
    display: inline-block;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

#inicio:hover {
    transform: scale(1.1);
    background-color: #dbdbdb;
}

/* LOGIN */
#login {
    text-decoration: none;
    background-color: #e64747;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    display: inline-block;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

#login:hover {
    transform: scale(1.1);
    background-color: rgb(255, 26, 26);
}

/* MENU RESPONSIVO */
#hamb-btt {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    margin-right: 3rem;
}

@media (max-width: 768px) {
    #navbar-links {
        position: fixed;
        top: 5.4rem;
        right: 0;
        width: 50vw;
        height: 40vh;
        background-color: #0b0f14;
        border-radius: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
        opacity: 0;
        transform: translateX(100%);
        pointer-events: none;
        transition: transform 0.4s ease, opacity 0.4s ease;
    }

    #navbar-links.active {
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
    }

    #hamb-btt {
        display: block;
        transition: transform 0.4s ease;
    }

    #hamb-btt.open {
        transform: rotate(-90deg);
    }
    
    #navcont {
    top: 150px;
    right: 269px;
    }
}

/* ESTILOS CONTAINERS */
.container {
    display: flex;
    color: #0b0f14;
    margin: 0 400px;
    gap: 20px;
    border-radius: 10px;
    padding: 10px 30px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-direction: column;
}

@media (max-width: 768px) {
    .container {
        margin: 100px;
        gap: 20px;
        border-radius: 10px;
        padding: 10px 30px;
    }
}