/* ESTILOS GERAIS */

body {
    margin: 0;
    background-color: #dbdbdb ;
    box-sizing: border-box;
    font-family: arial;
}

main {
    margin-top: 100px;
    text-align: center;
}

/* ESTILOS NAVBAR */

#cabecalho {
    display: flex;
    background-color: #0b0f14;
    align-items: center;
    justify-content: space-around;
}

#logotipo {
    height: 7rem;
}

#navbar-links {
    color: #0b0f14;
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.navbar-links-itens {
    background-color: white;
    border-radius: 20px;
    padding: 8px;
    text-align: center;
}

#login {
    text-decoration: none;
    background-color: #e64747;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    display: inline-block;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

#login:hover {
    transform: scale(1.1);
    background-color: rgb(255, 26, 26);
    box-shadow: 50px 50px  5px rgba(255, 26, b26lue, 0.2 );
}

#hamb-btt {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

@media (max-width: 768px) {
    #navbar-links {
        position: absolute;
        top: 5.4rem;
        right: 0;
        width: 50vw;
        height: 50vh;
        background-color: #0b0f14;
        border-radius: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
        opacity: 0;
        transform: translateX(100%);
        pointer-events: none;
        transition: transform 0.4s ease, opacity 0.4s ease;
    }

    #hamb-btt {
        display: block;
        transition: transform 0.4s ease;
    }

    #hamb-btt.open {
        transform: rotate(-90deg);
    }

    #navbar-links.active {
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
    }
}

/* ESTILOS MAIN */

.container {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .img-main {
        width: calc(100vw - 250px);       
    }

    .linkimagem {
        font-size: 10px;
    }

    .titulo-manchete {
        font-size: 30px;
        text-transform: uppercase;
    }

    .manchete {
        text-transform: uppercase;
    }
}