body {
    margin: 0;
    font-family: arial;
}

#cabecalho {
    display: flex;
    background-color: #0b0f14;
    align-items: center;
    justify-content: space-between;
}

#logotipo {
    height: 7rem;
}

#navbar-links {
    color: white;
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0 2rem;
}

#hamburguer-mn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#hamburguer-mn .linha {
    width: 100%;
    height: 4px;
    background-color: #fff;
    display: block;
    transition: transform 0.3s ease, ocapacity 0.2 ease ;
    transform-origin: center;
}

#hamburguer-mn.ativo .linha:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
#hamburguer-mn.ativo .linha:nth-child(2) {
  opacity: 0;
  transform: translateX(-20px);
}
#hamburguer-mn.ativo .linha:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}


@media (max-width:768px) {
    #hamburguer-mn {
        display: block;
    }

    #navbar-links {
    display: none; 
    flex-direction: column;
    color: #0b0f14; 
    background-color: #fff;
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    padding: 1rem;
    }

    #navbar-links.active {
        display: flex;
    }
}



